html,
body {
    height: 100%;
    overflow: hidden;
}

#controls,
#content {
    display: none;
}

#desktop-app {
    display: grid;
    grid-template-columns: 15% 40% 45%;
    height: 100dvh;
}

.desktop-panel {
    min-width: 0;
    overflow: hidden;
}

.desktop-panel + .desktop-panel {
    border-left: 1px solid var(--text-muted-color);
}

.desktop-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: var(--controls-height);
    padding: 0 var(--font-size);
    background-color: var(--controls-bg-color);
    font-weight: bold;
    line-height: normal;
    gap: calc(0.5 * var(--font-size));
}

.desktop-control-title {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#desktop-item-title {
    display: flex;
    align-items: center;
}

.item-header {
    min-width: 0;
    margin-bottom: 0;
}

#desktop-item-title .item-title,
#desktop-item-title .item-details {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#desktop-item-title .item-details {
    display: block;
}

.desktop-panel-content {
    box-sizing: border-box;
    height: calc(100vh - var(--controls-height));
    height: calc(100dvh - var(--controls-height));
    overflow-y: auto;
    padding: calc(0.5 * var(--font-size)) var(--font-size) var(--font-size) var(--font-size);
}

.desktop-panel-content .feed-list {
    margin: 0 calc(-1 * var(--font-size));
}

.desktop-panel-content .feed-list > li {
    padding-bottom: calc(0.2 * var(--font-size));
}

.desktop-panel-content .feed-list > li > a {
    display: block;
    padding: calc(0.5 * var(--font-size)) var(--font-size);
}

.desktop-panel-content .feed-list > li.feed-selected > a,
.desktop-panel-content .item-link-selected {
    background-color: var(--controls-bg-color);
}

.desktop-panel-content .item-list {
    margin: 0 calc(-1 * var(--font-size));
}

.desktop-panel-content .item-link {
    display: block;
    padding: calc(0.5 * var(--font-size)) var(--font-size);
}

.desktop-panel-content .item-summary {
    margin-bottom: 0;
}

.desktop-panel-content .empty-message {
    align-items: center;
    color: var(--text-muted-color);
    display: flex;
    height: 100%;
    justify-content: center;
}

#desktop-item-content {
    display: flex;
    flex-direction: column;
}

#desktop-item-content > .empty-message {
    align-items: center;
    color: var(--text-muted-color);
    display: flex;
    flex: 1;
    justify-content: center;
}

#desktop-item-content > .item-content {
    margin-top: 0;
}

#desktop-item-content > .item-content :first-child {
    margin-top: 0;
}

.desktop-spinner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}
